.footerContainer {
  font-family: Noto Sans;
  padding: 48px 32px;

  ul {
    list-style: none;
    margin-bottom: 32px;
  }

  h2 {
    color: #1F343E;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.28px;
    margin-bottom: 23px;
  }

  .about {
    img {
      margin-bottom: 32px;
    }

    p {
      font-size: 16px;
      margin-bottom: 48px;
    }
  }

  .links {
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 16px;
    }
  }

  .contact {
    margin-bottom: 32px;

    a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      gap: 16px;
    }

    p {
      font-size: 16px;
    }
  }

  .social {
    margin-bottom: 48px;

    section {
      display: flex;
      gap: 8px;
    }

    img {
      padding: 8px;
      background-color: #4EB3E3;
      border: 1px solid #1F343E;
      border-radius: 8px;

    }

  }

  .copyright {
    font-size: 16px;
    color: #6D7A80;
  }
}


@media (min-width: 1025px) {
  .footerContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 64px 0px 58px 0px;
    display: grid;
    justify-content: space-between;
    grid-template-areas:
      "about about links contact"
      "copyright copyright links social"
    ;

    h2 {
      font-size: 20px;
    }

    .about {
      grid-area: about;
      max-width: 544px;
    }

    .links {
      grid-area: links;

      ul {
        gap: 16px;

        li {
          transition: 0.2s;

          &:hover {
            cursor: pointer;
            color: #4EB3E3;
          }
        }
      }

    }

    .contact {
      grid-area: contact;

      a {
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          color: #4EB3E3;
        }
      }
    }

    .social {
      grid-area: social;
      margin-top: -65px;

      img {
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          filter: brightness(0.8);
        }
      }
    }

    .copyright {
      grid-area: copyright;
    }
  }
}