.container {
  padding: 32px 16px 48px 16px;
  background: #F8CC5D;
  border-bottom: 1px solid #1F343E;
  border-top: none;


  .referContainer {
    display: flex;
    flex-direction: column;
    background-color: #F8F4F9;
    padding: 32px 16px;
    margin-bottom: 48px;
    border: 1px solid #1F343E;
    border-radius: 16px;
    text-align: left;

    h1 {

      font-family: Caveat Brush;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 0px;
      color: #1F343E;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    p {
      font-family: Noto Sans;
      font-size: 16px;

      &:first-of-type {
        color: #1F343E;
        margin-bottom: 24px;
      }

      &:last-of-type {
        color: #6D7A80;
      }
    }

    form {
      font-family: Noto Sans;
      display: flex;
      flex-direction: column;

      input {
        background-image: url('../../assets/email.svg');
        background-size: 16px;
        background-position: 13px 17px;
        background-repeat: no-repeat;
        padding: 16px 20px 18px 40px;
        border: 1px solid #1F343E;
        border-radius: 8px;
        margin-bottom: 16px;

        &::placeholder {
          font-family: Noto Sans;
          font-size: 16px;
          color: #6D7A80;
        }

        &:hover {
          cursor: pointer;
        }
      }

      button {
        background-color: #4EB3E3;
        border: 1px solid #1F343E;
        border-radius: 8px;
        padding: 17px;
        color: #FFFFFF;
        text-align: center;
        text-transform: capitalize;
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 71px;
      }

      .error {
        font-size: 12px;
        color: #ED6F82;
        margin-bottom: 7px;
      }

      .success {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 16px;
      }
    }

  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;


    .card {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 32px;
      }

      .cardInfo {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font: normal normal normal 32px/40px Caveat Brush;
          letter-spacing: 0px;
          color: #1F343E;
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        p {
          text-align: center;

          &:first-of-type {
            letter-spacing: 1.28px;
            color: #4EB3E3;
            text-transform: uppercase;
            font: normal normal bold 16px/24px Gadugi;
            margin-bottom: 16px;
          }

          &:last-of-type {
            letter-spacing: 0px;
            color: #1F343E;
            font: normal normal normal 16px/24px Noto Sans;
          }

        }
      }
    }
  }

}

@media (min-width: 1025px) {
  .container {

    border-top: 1px solid #1F343E;
    padding: 64px 0;

    .rewardContainer {
      max-width: 1120px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 544px 1fr;
      gap: 128px;


      .referContainer {
        justify-content: space-around;
        padding: 64px;
        margin-bottom: 0;

        h1 {
          font-size: 48px;
          margin-bottom: 32px;
        }

        p {


          &:first-of-type {
            font-size: 20px;
            letter-spacing: 0px;
            margin-bottom: 64px;
          }

          &:last-of-type {
            font-size: 16px;
          }
        }

        form {

          input {
            background-size: 20px;

            padding-top: 20px;

            &::placeholder {
              padding-left: 10px;
              font-size: 20px;

            }
          }

          button {
            font-size: 20px;
            margin-bottom: 153px;
            transition: 0.2s;

            &:hover {
              cursor: pointer;
              filter: brightness(0.8);
            }
          }
        }
      }


      .cardsContainer {
        justify-content: center;
        align-items: baseline;
        gap: 64px;

        .card {
          display: flex;
          flex-direction: row;
          gap: 56px;

          &:nth-child(2) {
            flex-direction: row-reverse;
          }

          img {
            margin-bottom: 0;
          }

          .cardInfo {
            align-items: flex-start;

            p {
              text-align: left;

              &:first-of-type {
                font-size: 20px;
              }

              &:last-of-type {
                font: normal normal normal 20px/32px Noto Sans;
              }

            }
          }
        }
      }
    }
  }

}